.slds-align_absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.chart {
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.slds-m-bottom_medium {
    margin-bottom: 1rem;
}

.slds-text-color_error {
    color: #d84e4e;
}

.slds-align_absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slds-p-around_medium {
    padding: 1rem;
}